footer{
    margin-top:5rem;
    background-color: rgb(45, 85, 153);
    padding:3rem 0;
    text-align: center;
    font-size: 0.9rem;
}
footer a{
    color: var(--color-bg);
}
.logo{
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 2rem;
    display: inline-block;
}
.permalinks{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:2rem;
    margin: 0 auto 3rem;
    font-size: 1.2rem;
}
.footer_socials{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 3rem;
}
.footer_socials a{
    background-color: var(--color-bg);
    color: white;
     padding: 0.8rem; 
     display: flex;
    border: 1px solid transparent;
    border-radius: 0.6rem;
}
.footer_copyright{
    margin-bottom:2.5rem;
    
}
.footer_copyright small{
    color: black;
    font-size: 0.9rem;
}

/*Medium devices*/
@media screen and (max-width:1024px){
    footer{
        margin-top: 9rem;
    }
    .footer_socials{
        margin-bottom: 6rem;
    }
    .footer_copyright{
        margin-bottom: 5rem;
    }
}