nav{
    /* margin-top:3rem; */
    background-color: rgba(0,0,0,0.3);
    width:max-content;
    display:block;
    padding:0.7rem 1.6rem;
    z-index: 2;
    bottom: 2rem;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 3rem;
    backdrop-filter: blur(15px);
}
.links{
    display: flex;
    gap: 0.6rem;
    justify-content: center;
}
nav a{
    background: transparent;
    padding: 0 0.6rem;
    font-size: 1rem;
    color: var(--color-primary);
}
nav a:hover{
    color: rgb(255, 255, 255);;
}
nav a.active{
    color:rgb(255, 255, 255) ;
}