.contact-container{
    width:60%;
    display: grid;
    grid-template-columns: 30% 58%;
    gap:12%;
}
.contact-options{
    display:flex;
    flex-direction: column;
    gap:1.2rem;
}
.contact-option{
    background-color: var(--color-bg-variant);
    padding:3rem;
    border-radius: 2rem;
    border:1px solid transparent;
    text-align: center;
    transition: var(--transition);
}
.contact-option:hover{
    background-color: transparent;
    border-color: var(--color-primary-variant);
    cursor: default;
}
.icon{
    color: var(--color-primary);
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}
.contact-option>h4{
    color: gray;
}
.contact-option a{
    font-size: 0.82rem;
    margin-top: 0.8rem;
    display: inline-block;
}
.contact-container form{
    display: flex;
    flex-direction: column;
    gap:1.2rem;
}
.contact-container form>h2{
    color: var(--color-primary);
    font-size: 1.2rem;
}
.contact-container textarea, input{
    width:100%;
    padding:1.5rem;
    border-radius: 0.6rem;
    background: transparent;
    border: 2px solid var(--color-primary-variant);
    resize: none;
    color: white;
}
textarea,input:hover{
    border-color: blue;
}


/*Medium devices*/
@media screen and (max-width:1024px){
.contact-container{
    width: 80%;
    grid-template-columns: 1fr;
    /* margin-top: 5rem; */
    gap: 2rem;
}
/* section h5{
   margin-top: 18rem;
} */
}

/*Small Devices*/
@media screen and (max-width:600px){
    .contact-container{
         width: var(--container-width-sm);
    }
}